.title {
  display: flex;
  justify-content: center;
  #modal_title {
    font-size: 22px;
    margin: 20px 0px 10px 5px;
  }
}

.close {
  display: flex;
  justify-content: end;
  #id {
    margin: 10px 10px 10px 10px;
  }
}


#close {
  margin-left: 40px;
}

#name {
  width: 350px;
}

.row {
  // justify-content: flex-start;
  margin: 10px 0px 10px 0px;
}

.vehicle_div {
  display: flex;

}

.btn {
  width: 250px;
  margin-top: 30px;
}


