<div class="container">

  <div class="row">
    <div id="modal_title">{{title}}</div>
    <div class="col-1"></div>
    <button id="close" mat-button (click)="closeModal()">✖</button>
  </div>

  <div *ngIf="targetService == '0' else serviceRequest">
    <!-- ユーザー依頼表示 -->

    <div *ngIf="registerVehicle.length > 0 else ElseContents">
      <table>
        <thead>
          <tr>
            <th id="no">No</th>
            <th id="name">車名</th>
            <th id="fleam_number">ナンバー（登録番号）</th>
            <th id="mileage">走行距離</th>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of registerVehicle">
            <td>{{registerVehicle.length}}</td>
            <td>
              <div class="select_point" (click)="onVehicleSelect(vehicle.vehicleId)">
                {{vehicle.vehicleName}}</div>
            </td>
            <td>{{vehicle.vehicleNo}}</td>
            <td>{{vehicle.mileage | number: '1.0-0'}} Km</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #ElseContents>
      <div>登録中の車両はありません</div>
    </ng-template>

    <div class="row">
      <div class="col-1"></div>
      <label>この伝票に車両を登録</label>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <label>車名</label>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <input type="text" class="form-control" id="name" [(ngModel)]="dispVehicleName" />
    </div>

    <!-- 車両区分ラジオボタン -->
    <div class="row">
      <div class="col-1"></div>
      <form class="vehicle_div">
        <ng-container *ngFor="let data of vehicleDivData; index as i">
          <label>
            <input type="radio" name="vehicle_div"
              id="book{{i}}"
              [(ngModel)]="dispVehicleDiv"
              [value]="data.vehicleDiv" [checked]="dispVehicleDiv == data.vehicleDiv"
              (change)="onSelectVehicleDiv(i)">{{data.value}}
          </label><br />
        </ng-container>
      </form>
    </div>


    <div class="row">
      <div class="col-1"></div>
      <label>メーカー</label>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <select class="maker_select" name="maker" [(ngModel)]="dispVehicleMaker" (change)="onSelectMaker()">
        <option value="">メーカーを選択してください</option>
        <optgroup *ngFor="let group of keys(makerData)" label={{group}}>
          <option *ngFor="let maker of makerData[group]" 
          [value]="maker" [selected]="maker === dispVehicleMaker">
            {{maker}}
          </option>
        </optgroup>
      </select>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <label>車両形状</label>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <select class="category-select" name="category" [(ngModel)]="formData" (change)="onSelectForm()">
        <option *ngFor="let form of formData" [value]="form" [selected]="form === dispVehicleForm">{{form}}</option>
      </select>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <button type="submit" class="btn btn-primary" on-click="getResult()">決定</button>
    </div>
  </div>

  <ng-template #serviceRequest>
    <!-- メカニック、工場依頼表示 -->
    <div class="row">
      <div class="col-1"></div>
      <input type="checkbox" name="unspecified_check" [(ngModel)]="unspecifiedDiv" (change)="onUnspecified()">
      <label>指定しない</label>
    </div>

    
    <div class="row">
      <div class="col-1"></div>
      <label>車名</label>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="dispVehicleName" />
    </div>

    <div class="row">
      <div class="col-1"></div>
      <label>メーカー</label>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <select class="category-select" name="category" [(ngModel)]="dispVehicleMaker" (change)="onSelectMaker()">
        <option *ngFor="let maker of makerData" [value]="maker" [selected]="maker === dispVehicleMaker">{{maker}}
        </option>
      </select>
      <!-- <input type="password" class="form-control" id="passwd" name="passwd" [(ngModel)]="data.passwd" /> -->
    </div>

    <div class="row">
      <div class="col-1"></div>
      <label>車両形状</label>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <select class="category-select" name="category" [(ngModel)]="formData" (change)="onSelectForm()">
        <option *ngFor="let form of formData" [value]="form" [selected]="form === dispVehicleForm">{{form}}</option>
      </select>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <button type="submit" class="btn btn-primary" on-click="getResult()">決定</button>
    </div>

  </ng-template>

</div>