#modal_title {
  font-size: 22px;
  margin: 20px 0px 10px 5px;
}

#close {
  margin-left: 40px;
}

#name {
  width: 200px;
}


.vehicle_div {
  display: flex;
}

.btn {
  width: 75%;
  margin-top: 30px;
}


