<!-- お問い合わせ -->


<div class="text_area">
  <div>
    <div class="form_title">お問い合わせ</div>
    <table class="table">

      <tbody>
        <tr>
          <td>お問い合わせユーザー名</td>
          <td>
            <input class="form-control" id="name" type="text" [formControl]="name" />
          </td>
        </tr>
        <tr>
          <td>お問い合わせカテゴリー</td>
          <td>
            <input class="form-control" id="email" type="text" [formControl]="mail" />
          </td>
        </tr>
        <tr>
          <td>お問い合わせ内容</td>
          <td>
            <input class="form-control" id="email" type="text" [formControl]="mail" />
          </td>
        </tr>
        <tr>
          <td>お問い合わせ送信先</td>
          <td>
            <input class="form-control" id="email" type="text" [formControl]="mail" />
          </td>
        </tr>
        <tr>
          <td>お問い合わせメールアドレス</td>
          <td>
            <input class="form-control" id="email" type="text" [formControl]="mail" />
          </td>
        </tr>



      </tbody>
    </table>

  </div>

</div>