.text_area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  overflow: hidden;
  overflow-y: auto;

  .form_title {
    font-weight: bold;
  }

  .text_block {
    margin: 0px 0px 0px 25px;
  }
}