<header>
  <div id="modal-hedder">
    <div id="modal-title">{{title}}</div>
  </div>
</header>

<body>
  <div class="container-md">


    <div class="img_area">
      <div class="dragarea" (dragover)="dragOver($event)" (drop)="drop($event)">
        <span class="dorag">ここにドラッグ＆ドロップ</span>
      </div>
      
      <img *ngFor="let i of img" [src]="i">


    </div>



    <div>
      <input type="file" id="dragareaInput" style="display:none"
       (change)="onChangeDragAreaInput($event)">
      <label class="mt-3 btn btn-secondary" for="dragareaInput">参照</label>
    </div>


  </div>

</body>


<footer>
  <button type="button" class="btn btn-outline-primary" (click)="closeModal()">閉じる</button>
  <button type="button" class="btn btn-outline-primary" (click)="getResult()">決定</button>
</footer>