

<!-- <hr class="line" noshade=""> -->

<div class="container">
  <div class="row">
    <div class="col-1"></div>

    <div *ngIf="!authUserDiv; else elseContent">
      <!-- ログイン前 -->
      <div class="menu_item item" (click)="onSinup()">新規登録</div>
      <div class="menu_item item" (click)="onLogin()">ログイン</div>
    </div>
    <ng-template #elseContent>
      <!-- ログイン後 -->
      <div *ngIf="temporaryUserDiv; else elseContent">
        <div class="menu_item item" (click)="onUserResister()">ユーザー登録</div>
        <p>ユーザー登録が未完了です。登録をしてください。</p>
      </div>
      <ng-template #elseContent>
        <div class="menu_item item" (click)="onMypage()">マイページ</div>
        <div class="menu_item item" (click)="onLogout()">ログアウト</div>
      </ng-template>


    </ng-template>

    <div class="col-4"></div>

    <div class="menu_item item" (click)="serviceSerchConditions()">サービス・依頼を探す</div>
    <div class="menu_item item" (click)="serviceReqest()">依頼する</div>
    <div class="menu_item item" (click)="serviceExhibit()">出品する</div>

  </div>
</div>

<hr class="line" noshade="">

<div class="menu_item item" (click)="onFactoryResister()">工場登録テスト</div>


<div class="image-area">
<img src="assets/images/test1rogo.png" alt="image1">
</div>
