
<div class="image-area">
<img src="assets/images/car_denki.png" alt="image1">
<img src="assets/images/car_gasoline.png" alt="image2">
</div>
<hr class="line" noshade="">
<div class="containar">
  <div class="btn btn-solid"(click)="serviceSerchConditions()">探す</div>
  <div class="btn btn-solid"(click)="serviceReqest()">頼む</div>
</div>
<hr class="line" noshade="">


<div class="btn btn-solid" (click) = "serviceSerch()">(旧)探す</div>
<div class="btn btn-solid" (click) = "serviceDealings()">マイページ</div>
