<body>
  <div class="container">
    <div class="row">
      <div class="col-1"></div>

      <div class="col-6">
        <div *ngIf="!authUserDiv else elseContent">
          <!-- ログイン前 -->
          <div class="user_resister">
            <div class="menu_item item" (click)="onSinup()">新規登録</div>
            <div class="menu_item item" (click)="onLogin()">ログイン</div>
          </div>
        </div>

        <ng-template #elseContent>
          <!-- ログイン後 -->
          <div *ngIf="temporaryUserDiv else temporaryContent">

            <div class="user_resister">
              <div>
                <div class="menu_item item" (click)="onUserResister()">ユーザー登録</div>
                <p>ユーザー登録が未完了です。登録をしてください。</p>
              </div>
              <div class="menu_item item" (click)="onLogout()">ログアウト</div>
            </div>
          </div>
          <ng-template #temporaryContent>
            <div class="user_resister">
              <div class="menu_item item" (click)="onMypage()">マイページ</div>
              <div class="menu_item item" (click)="onLogout()">ログアウト</div>
            </div>
          </ng-template>
        </ng-template>
      </div>

      <div class="menu_item item" (click)="serviceSerchConditions()">サービス・依頼を探す</div>
      <div class="menu_item item" (click)="serviceReqest()">依頼する</div>
      <div class="menu_item item" (click)="serviceExhibit()">出品する</div>

    </div>
  </div>

  <hr class="line" noshade="">

  <!-- <div class="menu_item item" (click)="onFactoryResister()">工場登録テスト</div>
  <button type="button" class="btn btn-outline-primary" (click)="onVehcleRegister()">新規車両</button>
  <button type="button" class="btn btn-outline-primary" (click)="onVehcleInfo()">車両情報メニュー</button>
  <button type="button" class="btn btn-outline-primary" (click)="onmenu()">メニューの区分チェック</button> -->

  <div class="image-area">
    <img src="assets/images/test1rogo.png" alt="image1">
  </div>
</body>

<footer>
  <app-footer-menu></app-footer-menu>
</footer>

