<!-- <p class="close" closeModal()>✖</p> -->
<div class="head">
  <p class="title">質問板</p>
  <div class="close-button" (click)="closeModal()">✖</div>
</div>

<div class="disp_area">
  <div *ngIf ="dispDiv; else elseContent">
    <div *ngFor="let list of questionList; index as i" >
      <div class="question_contents">
        <div class="index">No.{{i +1}}</div>
        <div class="sender">質問者：{{list.senderName}}</div>
        <div class="question">質問内容</div>
        <div class="sender-text">{{list.senderText}}</div>
        <div class="anser">解答：{{list.anserText}}</div>
        <div *ngIf="adminDiv && list.anserDiv =='0' ">
          <input name="text" type="button" (click)="onAnser(i)" value="回答する" />
        </div>
        <div *ngIf="adminDiv && list.anserDiv =='1' ">
          <input name="text" type="button" (click)="onAnser(i)" value="回答を編集する" />
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseContent>
    <div class="none">{{noneMessage}}</div>
  </ng-template>
</div>

<div>
  <div class="form">
    <div *ngIf ="anserDiv">
      <input type="button" class="submit-button" value="回答をやめる" (click)="onStopAnser()" />
    </div>
      <input class="form-question" type="text" [(ngModel)]="sernderMessage" (change)="sendMessageCheck()" placeholder={{formPlaceholder}} />
      <input type="button" class="submit-button" value={{buttonMessage}} (click)="onSubmit()" [disabled]="isDisabled"/>
  </div>

</div>
