
<div class="container">

  <div class="row">
    <p>トップに戻る</p>
  </div>

  <div class="row">
      <p>作業を頼む</p>
  </div>

  <div class="row">
    <p>サービスを出品する</p>
  </div>

  <div class="row">
    <p>サービスを探す</p>
  </div>

  <div class="row">
    <p>作業依頼を探す</p>
  </div>

  <div class="row">
    <p>プロフィールを編集</p>
  </div>

  <div class="row">
    <p>メカニックプロフィールを編集</p>
  </div>

  <div class="row">
    <p>工場プロフィールを編集</p>
  </div>

</div>


<!-- <div class="side-menu">

<p>たのむ</p>
<details>
  <summary>さがす</summary>
  <p>洗車</p>
  <p>コーティング</p>
  <p>カスタマイズ</p>
  <p>部品・用品取り付け</p>
  <p>点検・整備</p>
  <p>手続き</p>
</details>
<p>やりとり</p>
</div> -->
