<!-- <div class="head">
  <app-header-menu></app-header-menu>
</div>

<body>
  <div class="fullheight">
    <router-outlet (activate)="onActivate()"></router-outlet>
  </div>
</body>
<footer *ngIf="footerDiv"> -->
<!-- <footer>
  <app-footer-menu></app-footer-menu>
</footer> -->



<body>
  <div class="content">
    <header>
      <app-header-menu></app-header-menu>
    </header>
    <main>
      <router-outlet (activate)="onActivate()"></router-outlet>
    </main>
  </div>
  <footer>
    <app-footer-menu></app-footer-menu>
  </footer>
</body>