// .head {
//   display: flex;
//   justify-content: space-between;
//   margin: auto;
// }

.head {
  border-bottom:1px solid #000000;
  height: 10%;
}

.fullheight {
  height: 70%;
  margin: 0%;
}
footer {
  height: 20%;
}
