.button-item {
  margin-left: 20px;
  margin-top: 40px;

  .serch-result {
    margin-top: 8px;
  }
}

.history-item {
  margin-top: 8vh;
  margin-left: 20px;
}

.listarea {
  display: flex;
  cursor: pointer;
  color: blue;
  margin-bottom: 3px;
}

.link {
  cursor: pointer;
  color: blue;
  margin-left: 20px;
}