.main-content {
  display: flex;
  // justify-content: center;
  // align-items: center;
}

.sid_menu {
  width: 200px;
  margin: 150px 0px 0px 50px;
  display: flex;
  justify-content: center;

  .button_item {
    width: 180px;
    margin-top: 30px;
    height: 30px;
  }

  .btn_border {
    width: 180px;
    height: 40px;
  }
}

.main {
  width: 850px;
  margin: 5px 0px 0px 40px;
  display: flex;


  .contents-area {
    width: 500px;
    margin: 10px 40px 10px 20px;
    .title {
      display: flex;
      justify-content: center;
      margin: 30px 0px 0px 0px;
      font-size: larger;
    }

    .img {
      margin-top: 60px;
      width: 500px;
      height: 350px;
    }

    .explanation {
      margin: 30px 0px 0px 0px;
      p {
        font-size: large;
        display: flex;
        justify-content: center;
      }
      .ex_value {
        font-size: medium;
      } 
    }

  }

  .detail-area {
    width: 200px;
    margin: 100px 10px 10px 20px;

    .ymd {
      p {
        font-size: large;
      }
      margin-top: 20px;
    }

    .price {
      p {
        font-size: large;
      }
      margin-top: 20px;
    }

    .area {
      margin-top: 20px;
    }

    .service_info {
      margin: 25px 0px 10px 0px;
      p {
        font-size: large;
      }
    }

  }
}
