.main-content {
  display: flex;
  // justify-content: center;
  // align-items: center;
}

.sid_menu {
  width: 200px;
  margin: 150px 0px 0px 50px;
  display: flex;
  justify-content: center;

  .button_item {
    width: 180px;
    margin-top: 30px;
    height: 30px;
  }

  .btn_border {
    width: 180px;
    height: 40px;
  }
}

.main {
  width: 850px;
  margin: 5px 0px 0px 40px;
  display: flex;


  .contents-area {
    width: 500px;
    .title {
      margin-top: 80px;
      display: flex;
      justify-content: center;
    }

    .img {
      margin-top: 60px;
      width: 500px;
      height: 350px;
    }

    .explanation {
      margin-top: 60px;
    }

  }

  .detail-area {
    margin-top: 100px;
    width: 200px;

    .ymd {
      margin-top: 20px;
    }

    .price {
      margin-top: 20px;
    }

    .area {
      margin-top: 20px;
    }
  }
}
