.main-content {
  display: flex;
}

.sid_menu {
  width: 250px;
  margin: 50px 0px 0px 0px;
  display: flex;
  justify-content: center;
}

.main {
  width: 850px;
  margin: 5px 0px 0px 40px;
  display: flex;
}


.button-area {
  width: 230px;
  margin-top: 100px;
  margin-left: 50px;

  .button-item {
    width: 180px;
    margin-top: 30px;
    height: 30px;
  }

  .btn-border {
    width: 180px;
    height: 40px;
  }
}

.contents-area {
  width: 600px;
  .title {
    margin-top: 80px;
  }

  .img {
    margin-top: 60px;
    width: 500px;
    height: 350px;
  }

  .explanation {
    margin-top: 60px;
  }

}

.detail-area {
  margin-top: 100px;
  width: 150px;

  .ymd {
    margin-top: 20px;
  }

  .price {
    margin-top: 20px;
  }

  .area {
    margin-top: 20px;
  }

}
