<div class="main">

  <div *ngIf="fcRegisDiv; else elseContent">
    <div>
      <button type="submit" class="btn btn-primary btn_init_register" on-click="onInitFactory()">工場登録はこちらから</button>
    </div>
  </div>
  <ng-template #elseContent>

    <div class="container">

      <div class="row row_item">
        <div class="col-3 item">工場名</div>
        <div class="col-5">
          <input class="form-control" id="id" type="text" [(ngModel)]="dispInfo.officeName" />
        </div>
        <div class="col-1">
          <div>公開されます。</div>
        </div>
      </div>


      <div class="row row_item">
        <div class="col-3 item">工場連絡先</div>
        <div class="col-5">
          <input class="form-control" id="id" type="text" [(ngModel)]="dispInfo.officeMailAdress" />
          <!-- <input class="col-4" id="email" type="email" [(ngModel)]="dispInfo.officeMailAdress" /> -->
        </div>
        <div class="col-1">
          <div>公開されます。</div>
        </div>
      </div>


      <div class="row row_item">
        <div class="col-3 item">工場所在地</div>
        <div class="col-1">
          <div class="mandatory">必須</div>
        </div>
        <div class="col-5">
          <input class="form-control" id="id" type="text" [(ngModel)]="dispInfo.officeArea1" />
          <!-- <input class="col-4 high-form" type="text" [(ngModel)]="dispInfo.officeArea1" /> -->
        </div>
      </div>


      <div class="row row_item">
        <div class="col-3 item">営業時間</div>
        <div class="col-1">
          <div class="mandatory">必須</div>
        </div>
        <div class="col-5">
          <input class="form-control" id="area" type="text" [(ngModel)]="dispInfo.businessHours" />
        </div>
      </div>

      <div class="row row_item">
        <div class="col-3 item">営業時間</div>
        <div class="col-1">
          <div class="mandatory">必須</div>
        </div>
        <div class="col-5">
          <input class="form-control" id="area" type="text" [(ngModel)]="dispInfo.businessHours" />
        </div>
      </div>

      <div class="row row_item">
        <div class="col-3 item">拠点情報</div>
        <div class="col-1">
          <div class="mandatory">必須</div>
        </div>
        <div class="col-5">
          <input class="form-control" id="area" type="text" [(ngModel)]="dispInfo.officeArea" />
        </div>
      </div>

      <div class="row row_item">
        <div class="col-3 item">プロフィール画像</div>
        <div class="col-1"></div>
        <div class="col-5">
          <input type="file" accept="*/*" (change)="onInputChange($event)">
        </div>
      </div>

      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <div class="bt_area">
            <button type="submit" class="btn btn-primary" on-click="onResister()">登録</button>
          </div>
        </div>
      </div>

    </div>
  </ng-template>
</div>