<div class="main-content">
  <aside>
    <app-side-menu></app-side-menu>
  </aside>

  <article>

    <h1>サービスを依頼する</h1>


    <div class="reqest-form-title">
      <p class="title">タイトル</p>

      <div class="mandatory-area">
        <div *ngIf="titleDiv; else elseContent">
          <label class="mandatory">必須</label>
        </div>
        <ng-template #elseContent>
          <div class="margin"></div>
        </ng-template>   
      </div>
      
      <input id="text" name="text" class="form-title" type="text" [(ngModel)]="inputData.title" (change)="inputTitle()" placeholder="タイトル" />
    </div>

    <div class="reqest-form-area">
      <p class="area">地域</p>

      <div class="mandatory-area">
        <div *ngIf="areaDiv; else elseContent">
          <label class="mandatory">必須</label>
        </div>
        <ng-template #elseContent>
          <div class="margin"></div>
        </ng-template>
      </div>

      <select class="area-select" name="area" [(ngModel)]="areaSelect" (change)="selectArea()">
        <option value="">地域を選択してください。</option>
        <option *ngFor="let area of areaData" [value]="area.prefectures" [selected]="area.prefectures === areaSelect">
          {{area.prefectures}}</option>
      </select>
    </div>


    <div class="reqest-form-area">
      <p class="area">カテゴリー</p>

      <div class="mandatory-area">
        <div *ngIf="categoryDiv; else elseContent">
          <label class="mandatory">必須</label>
        </div>
        <ng-template #elseContent>
          <div class="margin"></div>
        </ng-template>   
      </div>

      <select class="category-select" name="category" [(ngModel)]="categorySelect" (change)="selectCategory()">
        <option value="">カテゴリーを入力してください。</option>
        <option *ngFor="let category of categoryData"
        [value]="category.category"
        [selected]="category.category === categorySelect">{{category.category}}</option>
      </select>
    </div>

    <div class="reqest-form-price">
      <p class="price">価格</p>

      <div class="mandatory-area">
        <div *ngIf="priceDiv; else elseContent">
          <label class="mandatory">必須</label>
        </div>
        <ng-template #elseContent>
          <div class="margin"></div>
        </ng-template>   
      </div>

      <div class="price-form-area">
        <div *ngIf="priceFormDiv; else elseContent">
          <input class="form-price" type="text"  [(ngModel)]="formPrice" (change)="inputPrice()" placeholder="{{pricePlace}}" />
        </div>
        <ng-template #elseContent>
          <div class="estimate">価格はこのサービスを見た方に設定してもらいます。</div>
        </ng-template>

        <div *ngIf="errorFlg;">
          <label class="error-message">{{errormessage}}</label>
        </div>
      </div>

      <select class="bid-method" name="bidMethod" [(ngModel)]="selected" (change)="selectBidMethod()">
        <option *ngFor="let item of bidMethodData" [value]="item.id" [disabled]="item.disabled"
          [selected]="item.id === selected">{{item.label}}</option>
      </select>
    </div>


    <div class="reqest-form-explanation">
      <p class="explanation">説明</p>

      <div class="mandatory-area">
        <div *ngIf="explanationDiv; else elseContent">
          <label class="mandatory">必須</label>
        </div>
        <ng-template #elseContent>
          <div class="margin"></div>
        </ng-template>
      </div>

      <input id="explanation" name="text" class="form-explanation" type="text" [(ngModel)]="inputData.explanation" (change)="inputExplanation()" placeholder="説明" />
    </div>

    <div class="reqest-form-preferredDate">
      <p class="preferredDate">希望日</p>

      <div class="mandatory-area">
        <div *ngIf="preferredDateDiv; else elseContent">
          <label class="mandatory">必須</label>
        </div>
        <ng-template #elseContent>
          <div class="margin"></div>
        </ng-template>
      </div>

      <div>
        <mat-form-field class="example-form-field" >
          <mat-label>希望日</mat-label>
          <input matInput [matDatepicker]="picker"[(ngModel)]="startDate" (dateChange)="inputPreferredDate($event)" >
          <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="startDate" ></mat-datepicker>
        </mat-form-field>
      </div>
      
      <div *ngIf="errorDayFlg;">
        <label class="error-message-day">{{errormessageDay}}</label>
      </div>
      
    </div>


    <div class="reqest-form-area">
      <p class="area">希望時間</p>

      <div class="mandatory-area">
        <div *ngIf="timeDiv; else elseContent">
          <label class="mandatory">必須</label>
        </div>
        <ng-template #elseContent>
          <div class="margin"></div>
        </ng-template>
      </div>

      <select class="category-select" name="category" [(ngModel)]="timeSelect" (change)="selectTime()">
        <option value="">希望時間を選択してください</option>
        <option *ngFor="let time of timeData"
        [value]="time.select"
        [selected]="time.select === timeSelect">{{time.select}}</option>
      </select>
    </div>

    <div class="reqest-form-file">
      <p class="form-file">添付画像</p>
      <input class="file" type="file" name="example" accept="image/*" multiple>
    </div>

    <div class="submit-button">
      <input type="submit" class="submit-button" value="確定" (click)="getResult()" [disabled]="invalid" />
    </div>

    <div class="submit-button">
      <input type="button" class="submit-button" value="ダミー" (click)="onDummy()" />
    </div>

    <div class="submit-button">
      <input type="button" class="submit-button" value="ダミー2" (click)="onDummy2()" />
    </div>

  </article>
</div>