<div class="main-content">

  <div class="sid_menu">
    <app-side-menu [acceseUser]="user"></app-side-menu>
  </div>

  <div class="main">


    <div class="container">
      <div class="row mt-4">
        <div class="col-4"></div>
        <h1>工場情報登録</h1>
      </div>

      <div class="row mt-2">
        <div class="col-2">工場表示名</div>
        <div class="col-1">
          <div class="mandatory">必須</div>
        </div>
        <div class="col-4">
          <input class="form-control" id="name" type="text" [formControl]="officeName" />
        </div>
        <div class="col-1"></div>
        <div class="btn_area">
          <button type="button" class="btn btn-outline-primary" (click)="onSomeUserInfo('1')">ユーザー登録を反映</button>
        </div>

      </div>

      <div class="row mt-2">
        <div class="col-2">工場電話番号</div>
        <div class="col-1">
          <div class="mandatory">必須</div>
        </div>
        <div class="col-4">
          <div class="tel_forms">
            <input class="form-control" id="tel" type="tel" [formControl]="telNo1" />
            <p>-</p>
            <input class="form-control" id="tel2" type="tel" [formControl]="telNo2" />
            <p>-</p>
            <input class="form-control" id="tel3" type="tel" [formControl]="telNo3" />
          </div>
        </div>
        <div class="col-1"></div>
        <div class="btn_area">
          <button type="button" class="btn btn-outline-primary" (click)="onSomeUserInfo('2')">ユーザー登録を反映</button>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-2">工場メールアドレス</div>
        <div class="col-1">
          <div class="mandatory">必須</div>
        </div>
        <div class="col-4">
          <input class="form-control" id="email" type="email" [formControl]="officeMailAdress" />
        </div>
        <div class="col-1"></div>
        <div class="btn_area">
          <button type="button" class="btn btn-outline-primary" (click)="onSomeUserInfo('3')">ユーザー登録を反映</button>
        </div>
      </div>


      <div class="row mt-2 factory_adress">
        <div class="col-3"></div>
        <div class="col-3 adress">工場所在地</div>
        <div class="btn_area">
          <button type="button" class="btn btn-outline-primary" (click)="onSomeUserInfo('4')">ユーザー登録を反映</button>
        </div>
      </div>


      <div class="row mt-2">
        <div class="col-2">郵便番号</div>
        <div class="col-1"></div>
        <div class="col-4">
          <div class="post_forms">
            <input class="form-control" id="postCode" type="tel" [formControl]="postCode1" />
            <p class="mainus">-</p>
            <input class="form-control" id="postCode" type="tel" [formControl]="postCode2" />
          </div>
          <!-- <input class="form-control" id="name" type="text" [(ngModel)]="inputData.officePostCode" /> -->
        </div>
        <!-- <div class="col-1"></div>
        <button type="button" class="btn btn-outline-primary" (click)="onSomeUserInfo('4')">公開する</button> -->
      </div>


      <div class="row mt-2">
        <div class="col-2">都道府県</div>
        <div class="col-1">
          <div class="mandatory">必須</div>
        </div>
        <div class="col-4">
          <select id="area-select" name="area" [formControl]="officeArea1"  (change)="selectArea()">
            <option value="">地域を選択してください。</option>
            <option *ngFor="let area of areaData" [value]="area.prefectures"
              [selected]="area.prefectures === areaSelect">
              {{area.prefectures}}</option>
          </select>
        </div>
        <!-- <div class="col-1"></div>
        <button type="button" class="btn btn-outline-primary" (click)="onSomeUserInfo('4')">公開する</button> -->
      </div>


      <div class="row mt-2">
        <div class="col-2">市町村</div>
        <div class="col-1">
          <div class="mandatory">必須</div>
        </div>
        <div class="col-4">
          <input class="form-control" id="name" type="text" [formControl]="officeArea" />
        </div>
        <!-- <div class="col-1"></div>
        <button type="button" class="btn btn-outline-primary" (click)="onSomeUserInfo('4')">公開する</button> -->
      </div>


      <div class="row mt-2">
        <div class="col-2">その他</div>
        <div class="col-1">
          <div class="mandatory">必須</div>
        </div>
        <div class="col-4">
          <input class="form-control" id="name" type="text" [formControl]="officeAdress" />
        </div>
        <!-- <div class="col-1"></div>
        <button type="button" class="btn btn-outline-primary" (click)="onSomeUserInfo('4')">公開する</button> -->
      </div>



      <!-- <div class="row mt-2">
        <div class="col-2">営業時間</div>
        <div class="col-1"></div>
        <div class="col-2">
          <input class="form-control" id="hours" type="text" [(ngModel)]="businessHoursStart" />
        </div>
        <div class="col-1 intermediate">~</div>
        <div class="col-2">
          <input class="form-control" id="hours" type="text" [(ngModel)]="businessHoursEnd" />
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-2">休憩時間</div>
        <div class="col-1"></div>
        <div class="col-2">
          <input class="form-control" id="hours" type="text" [(ngModel)]="restHoursStart" />
        </div>
        <div class="col-1 intermediate">~</div>
        <div class="col-2">
          <input class="form-control" id="hours" type="text" [(ngModel)]="restHoursEnd" />
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-2 work_contents">
          <div>業務内容</div>
          <div class="btn_area">
            <button class="btn btn-outline-primary" (click)="addOptionForm()">追加</button>
          </div>
        </div>
        <div class="col-1"></div>

        <div class="col-5">
          <input class="form-control" id="workcontents" type="text" [(ngModel)]="workContentsOne" />

          <form [formGroup]="form">
            <div class="add_form">
              <div formArrayName="options">
                <div *ngFor="let option of options.controls; let i = index">
                  <div class="add_work_contents">
                    <div [formGroupName]="i">
                      <input class="form-control" id="workcontents" type="text" formControlName="name" />
                    </div>
                    <button class="del_btn btn-outline-primary" (click)="removeOptionForm(i)">削除</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>

      <div class="row mt-2">
        <div class="col-2">工場PR文</div>
        <div class="col-1"></div>
        <textarea cols="40" rows="6" id="introduction" [(ngModel)]="inputData.officePR"></textarea>
      </div>

      <div class="row mt-2">
        <div class="col-2">工場紹介画像</div>
        <div class="col-1"></div>
        <input type="file" accept="*/*" (change)="onInputChange($event)">
      </div> -->

      <!-- <div class="row m-5">
      <div class="col-6">以下は公開されない工場情報の設定となります。</div>
    </div> -->

      <!-- <div class="row mt-2">
      <div class="col-2">関連工場</div>
      <div class="col-1"></div>
      <button type="button" class="btn btn-outline-primary" (click)="onSomeUserInfo('4')">一覧はこちら</button>
    </div>

    <div class="row mt-2">
      <div class="col-2">従業員情報</div>
      <div class="col-1"></div>
      <button type="button" class="btn btn-outline-primary" (click)="onSomeUserInfo('4')">一覧はこちら</button>
    </div>

    <div class="row mt-2">
      <div class="col-2">管理者設定</div>
      <div class="col-1"></div>
      <input class="col-4 high-form" type="text" [(ngModel)]="adminSettingUser" />
    </div> -->


      <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
          <div class="bt_area">
            <button type="submit" class="btn btn-primary" 
            on-click="onRegister()"  [disabled]="groupForm.invalid">登録</button>
          </div>
        </div>
      </div>



    </div>
  </div>

  <!-- <button (click)="test1()">test</button>
  <button (click)="goBack()">戻る</button> -->
</div>