.contents {
  margin: 100px;
}

.content {
  margin-bottom: 40px;
}

.table {
  border: 1px;
}

.mandatory {
  width: 50px;
  color: #ffff;
  background-color: #cc0000;
  padding: 0.3em;
  border-radius: 0.5em;
  font-size: 13px;
}

