
<div class="contents">
  
  <div>ユーザーID</div>
  <input id="name" name="name" type="text" [(ngModel)]="inputData.useId" />
  
  <div>ユーザー名</div>
  <input id="name" name="name" type="text" [(ngModel)]="inputData.userName" />

  
  <div>登録メールアドレス</div>
  <input id="email" name="email" type="email" [(ngModel)]="inputData.mailAdress" />

  <div>電話番号</div>
  <input id="email" name="email" type="email" [(ngModel)]="inputData.TelNo1" />

  <div>住所（都道府県）</div>
  <select class="area-select" name="area" [(ngModel)]="inputData.areaNo1" (change)="selectArea()">
    <option value="">地域を選択してください。</option>
    <option *ngFor="let area of areaData" [value]="area.prefectures" [selected]="area.prefectures === areaSelect">
      {{area.prefectures}}</option>
  </select>


  <input id="email" name="email" type="email" [(ngModel)]="inputData.areaNo1" />

  <div>住所（市町村）</div>
  <input id="email" name="email" type="email" [(ngModel)]="inputData.areaNo2" />

  <div>住所その他</div>
  <input id="email" name="email" type="email" [(ngModel)]="inputData.adress" />

  <div>郵便番号</div>
  <input id="email" name="email" type="email" [(ngModel)]="inputData.postCode" />

  <div>紹介文</div>
  <input id="email" name="email" type="email" [(ngModel)]="inputData.introduction" />

  <input type="button" class="btn" on-click="onResister()" value="登録">
</div>



<button (click)="goBack()">戻る</button>





